<h5 class="text-center text-muted text-lg" *ngIf="themes?.length == 0">Create New Theme</h5>

<ul class="list-group list-group-flush list-themes" *ngIf="themes?.length > 0">
	<li *ngFor="let theme of themes" class="list-group-item justify-content-between d-flex align-items-center">
		<a href="#">{{ theme.name }}</a>
		<div>
			<a class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="left" title="Edit" routerLink="/edit/{{ theme.id }}">
				<i class="fas fa-pencil-alt"></i>
			</a>
			<a class="btn btn-success btn-sm" href="#" data-tooltip="tooltip" data-placement="left" title="Copy">
				<i class="far fa-copy"></i>
			</a>
			<a class="btn btn-danger btn-sm"  href="#" data-tooltip="tooltip" data-placement="left" title="Delete">
				<i class="far fa-trash-alt"></i>
			</a>
			<a class="btn btn-warning btn-sm" href="#" data-tooltip="tooltip" data-placement="left" title="Generate">
				<i class="fas fa-check"></i>
			</a>
		</div>
	</li>
</ul>