/* Colors */
$primary:                              #58a5a1;
$secondary:                            #2e4f55;
$success:                              #4e9967;
$info:                                 #428cb8;
$warning:                              #ce864c;
$danger:                               #c75f5f;

/* Cards */
$card-spacer-y:							.4rem;
$card-spacer-x:							.7rem;

/* List Group */
$list-group-item-padding-y:				.4rem;
$list-group-item-padding-x:				.7rem;

/* Border Radius */
$border-radius:                         0;
$border-radius-lg:                      0;
$border-radius-sm:                      0;