.aside {
    flex: 0 0 400px;
    max-width: 400px;
    padding-left: 10px;
    margin-left: -400px;
    transition: margin-left 0.15s ease-in-out;
    &.open {
        margin-left: 0;
    }
}

.list-themes .btn ~ .btn {
    margin-left: 2px;
}