<div id="wrapper" class="container-fluid h-100">
	<div class="row h-100">

		<aside class="col-lg-3 col-md-4 pr-md-1 h-100">
			<div class="card h-100">
				<div class="card-header bg-primary text-white">Themes</div>

				<app-theme-list></app-theme-list>

			</div>

		</aside>

		<main class="col-lg-9 col-md-8 pl-md-1 h-100">
			<div class="card h-100">
				<div class="card-header bg-primary text-white">Preview</div>
				
				<div class="card-body">
					Main
				</div>

			</div>
		</main>

	</div>
</div>